body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
  }
  
  header {
    flex: 0 80px;
  }
  
  main {
    background-color:grey;
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  mainindex {
    background: url(https://th.bing.com/th/id/R.5a42971aa9ed506c665f7a822d7b7d32?rik=t9sRs15hx45avQ&pid=ImgRaw&r=0);
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  mainabout {
    background: url(https://th.bing.com/th/id/R.e9887040c898a1ea0f2824c11ce92ccf?rik=nmgxi0YaGiwetw&riu=http%3a%2f%2fphotos.demandstudios.com%2fgetty%2farticle%2f83%2f97%2f177762856.jpg&ehk=gVOtwy0vwHmrSLLfOZHx43ynXzSRvxkKhM3CEm8eAwE%3d&risl=&pid=ImgRaw&r=0);
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  footer {
    flex: 0 30px;
  }
  
  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }
  
  .navbar-brand {
    padding-left: 0.3em;
    border-bottom: solid rgb(182, 182, 182) thin;
  }
  
  menu .nav-item {
    padding: 0 0.3em;
  }
  
  footer a {
    float: right;
  }
  
  #count {
    color: rgb(246, 239, 158);
  }

  .modal-content{
    background-color: darkcyan;
  }
  .btn-link{
    color:white;
  }
  .modal-heading h2{
    color:#ffffff;
  }

  .players {
    flex: 1;
    width: 100%;
    padding: 0.5em;
    font-size: 150%;
  }
  
  .player-name {
    color: rgb(118, 190, 210);
    font-size: 150%
  }

  .container {
    padding: 20px 175px;
    background-color: #d2b48c;
  }
  .row {
    min-width: 100%;
    min-height: 12.5vh;
  }
  .col {
    background-color: white;
  }
  .black { 
    background-color: black;
  }
  
  .controls {
    position: absolute;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: black;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .game-name {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .score {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: blue;
    cursor: default;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: solid thin rgb(0, 2, 117);
    background-color: lightblue;
  }
  
  .center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  
  @media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
  }
  